.title{
    text-align: center;
    background-color: rgb(2, 10, 112);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 }
 .form-group{
     border: 5px solid rgb(1, 1, 7);
     margin: auto;
     width: 50%;
     padding: 10px;
     background-color: rgb(4, 11, 99);
     color: rgb(247, 246, 249);   
     border-radius: 20px; 
     text-align: center;
     font-weight: bold;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size:large ;
 }
 
